
body{
    background-color: antiquewhite !important;
    font-family: 'Open Sans', sans-serif;
}
.form-group {
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
}

.form-control {
    border-radius: 4px;
}

.btn-primary {
    background-color: #0064a5;
    border: none;
    padding: 10px 20px;
    margin-bottom: 1rem;
    border-radius: 4px;
    color: #fff;
}

.btn-primary:hover {
    background-color: #005185;
}

/* Additional styles for validation messages, tags input, etc., can be added here */
